.header-container{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.estiloCivil{
    width: 60px;
    height: 60px;
}
.estiloBolivia{
    width: 70px;
    height: 70px;
}
.estiloMin{
    width: 60px;
    height: 60px;
}