.tableInfraestructuraV
{
    border: solid black;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}
.theadInfraestructuraV
{
    background-color: rgba(249, 190, 143, 1);
    border: solid black ;
    border-collapse: collapse;
}
.thInfraestructuraV
{
    border: solid black 1px;
    margin: 0;
    border-collapse: collapse;
}
.tdInfraestructuraV
{
    border: solid black 1px;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    justify-content: center;
}
.td input[type="checkbox"]{
    width: 100%;
    height: 18px;
    padding: 0 100%;
    border-collapse:collapse ;
    margin: 0;
}
.tfoot{
    background-color: rgba(249, 190, 143, 1);
    border: solid black ;
    border-collapse: collapse;
}